extends layout.pug

block content
  h3 #{action} timestamp
  form(method="POST")
    .form-group
      label(for="timestamp") Timestamp
      input.form-control(type="text", name="timestamp", id="timestamp", value=entry.timestamp)
    .form-group
      label(for="text") Text
      input.form-control(type="text", name="text", id="text", value=entry.text)
    .form-group
    button.btn.btn-success(type="submit") Add
